{% extends 'base/base.html' %}
{% load static %}
{% block title %}За Dog Life{% endblock %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static '/style/about-us-page-style.css' %}">
{% endblock %}
{% block page_content %}
    <h1> Кучешки живот</h1>
    <div class="about">
        <img id="firstimg" src="{% static 'rubi1.jpg' %}" alt="Руби1">
        <p id="firstp"> Кучешки живот е сайт създаден от най-добрия приятел на Руби. Това е място за човеци на кучета,
            отдадени на каузата да отгледат и възпитат едно щастливо куче. Това е място за хора, които планират
            почивката си само на места, на които могат да отидат с най-добрият си приятел. Това е място за активни хора.
            Това е място за хора обичащи да прекарват времето си сред притодата. Това е място за хора, които обичат да
            прекарват време с кучето си. </p>
    </div>
    <div class="about">
        <p id="secondp">Кучешки живот е сайт вдъхновен от приключенския дух на кучето Руби. Това е място за кучета,
            които обичат
            дългите разходки. Това е място за кучета, които обичат да тичат волни в природата. Това е място за любопитни
            кучета, обичащи да опознават нови места. Това е място за кучета, които обичат да гонят пръчки, да катерят
            планини, да плуват в реки, да се забавляват. Това е място за кучета, които обичат да прекарват време с
            човека си.</p>
        <img id="secondimg" src="{% static 'rubi2.jpg' %}" alt="Руби2">
    </div>
    <div class="about">
        <img id="thirdimg" src="{% static 'rubi3.jpg' %}" alt="Руби3">
        <p id="thirdp">Това е място за всеки, които иска да намери или да препоръча място за разходка на човеци и
            кучета.Това е
            място за приключенци обичащи и оценяващи красотата на
            България. Това е място за приятели!!!</p>
    </div>
{% endblock %}