{% autoescape off %}
    За да инициирате процеса на повторно задаване на парола за вашия {{ user.email }} акаунт за регистрация/влизане в
    приложението,
    щракнете върху връзката по-долу:

    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

    Ако щракването върху връзката по-горе не работи, моля, копирайте и поставете URL адреса в нов браузър
    прозорец вместо това.

    На Ваше разположение,
    Екипът на Кучешки живот
{% endautoescape %}