.list-content {
    text-align: center;
}

.nights-ul {
    display: inline-block;
    text-align: left;
    list-style: none;
    padding: 0;
}

.nights-ul li {
    margin-bottom: 5%;
}

.container {
    position: relative;
}

.container .card {
    position: relative;
    width: 450px;
    height: 300px;
    /*background: #232323;*/
    border-radius: 20px;
    overflow: hidden;
    background-image: url("../../static/blue_background.jpg");
    background-size: cover;
}


.container .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.container .card:hover .imgBx {
    top: 0;
    transform: translateY(0%);

}

.container .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 270px;
}

.container .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container .card:hover .contentBx {
    height: 210px;
}

.container .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: black;
    margin: 0;
    border-radius: 4px;
}

.container .card .contentBx .size {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
}

.container .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}


.container .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    margin-top: 0;

}

.container .card .contentBx a :hover {
    border-radius: 5px;
    color: blue;
    text-decoration: none;
    font-size: x-large;
    }

.container .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;

}