{% extends 'base/base.html' %}
{% load static %}
{% block title %}Правила и условия{% endblock %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static '/style/rules-style.css' %}">
{% endblock %}
{% block page_content %}
    <h1 id="rules">Общи условия и правила за ползване на сайта</h1>
    <div>
        <h2> Съдържание:</h2>
        <ul id="content">
            <li><a href="#base-rules">1. Основни правила</a></li>
            <li><a href="#create-place">2. Създаване на място</a></li>
            <li><a href="#create-night">3. Създаване на място за нощувка</a></li>
            <li><a href="#create-eat">4. Създаване на място за хапване</a></li>
            <li><a href="#create-walk">5. Създаване на място за разходка</a></li>
            <li><a href="#add-comment">6. Правила за коментиране</a></li>
            <li><a href="#report">7. Правила за репортване</a></li>
            <li><a href="#edit">8. Свържете се с нас</a></li>
        </ul>
    </div>
    <h2 id="base-rules">Основни правила</h2>
    <p>
        За да изпозвате пълноценно сайта е необходимо да се попълни формуляр
        за регистрация, който включва: </p>
    <ul class="content-uls">
        <li>Имейл адрес и парола</li>
        <li>Деклариране на потвърждение за запознаване и съгласие
            със съдържанието на
            настоящите "Общи условия и правила за ползване на сайта" и чрез поставяне на отметка в съответните
            полета.
        </li>
    </ul>
    <p>
        За да използвате пълната функционалност на сайта, като коментиране и статистика на местата ви трябва да
        допълните профила си с потребителско име, име на кучето ви и местожителство.
    </p>

    <h2 id="create-place">Създаване на място</h2>
    <p>
        При създаване на място, името на всички задължителни полета е маркирано с червено. Щом полето бъде попълнено
        коректно цветът на името става син. Важно е информацията за мястото да бъде коректна. Преди мястото да бъде
        побликувано на сайта, то се проверява от персонала. Възможно е
        бъде коригирано, с цел коректност на данните. Докато мястото е в процес на обработка вие можете да го виждате в
        профила си, в графа изчакващи одобрение. Имате възможност да редактирате създадените от вас места по всяко врем,
        но имайте в предвид, че редактираното място трябва да бъде прегледано и одобрено.
    <p> Географската ширина и дължина могат да бъдат взети от Google maps. Намирате мястото в Google maps. Натискате
        десен бутон и ви излиза меню. Пъвото нещо в менюто са географската ширина игеографската дължина на мястото.
    </p>
    <p>
        При създаване на място се попълват:
    </p>
    <ul class="content-uls">
        <li>
            Името на мястото.
        </li>
        <li>
            Избира се в коя област на България се намира.
        </li>
        <li>
            Населеното място, в което се намира или най-близкото населено място. Населеното място се
            изписва на кирилица.
        </li>
        <li>Географската ширина и дължина могат да бъдат взети от Google maps, както е описано по-горе.</li>
        <li>В описанието можете да добавите лични впечатления,подробности за мястото и всякаква допълнителна информация,
            която смятате, че ще бъде полезна за потребителите.
        </li>
        <li>Уеб сайта не е задължително поле, защото е възможно мястото да няма уеб сайт. Ако го попълвате е важно уеб
            сайта да е валиден и пълен.
        </li>
    </ul>

    <h2 id="create-night">Създаване на място за нощувка</h2>
    <p>
        При създаване на място за нощувка, се попълват общите за всички места полета описани по-горе. Освен тях се
        попъват и:
    </p>
    <ul class="content-uls">
        <li>Избира се вида на мястото за нощувка. Има и опция други, ако вашето място не е в списъка.</li>
        <li>Избира се ценови диапазон.Цена за нощувка на човек:
            <br>Много евтино - под 20 лева;
            <br> Евтино - от 20 до 50 лева;
            <br> Нормално - между 50 и 100 лева;
            <br> Скъпо - от 100 до 200 лева;
            <br> Много скъпо - над 200 лева;
        </li>
        <li>Брой места за настаняване е задължително поле и представлява леговата база на мястото. Ако мястото разполага
            с
            две двойни легла и едно
            единично Брой места за настаняване е равно на 5.
        </li>
        <li>Снимката е заължително поле. Качва се само една снимка на мястото.</li>
        <li>Телефона за връзка с мястото е задължителен, за да имат възможност потребителите да се свържат с мястото.
        </li>
        <li>Последно трябва да отбележите, ако има допълнително заплащане за престоя с куче. Ако желаете можете да
            добавите
            в описанието, колко е било заплащането повреме на вашич престой.
        </li>
    </ul>

    <h2 id="create-eat">Създаване на място за хапване</h2>
    <p>
        При създаване на място за хапване, се попълват общите за всички места полета описани по-горе. Освен тях се
        попъват и:
    </p>
    <ul class="content-uls">
        <li>Избира се вида на мястото за хапване. Има и опция други, ако вашето място не е в списъка.</li>
        <li>Избира се ценови диапазон.Средна цена за храна на човек:
            <br>Много евтино - под 10 лева;
            <br> Евтино - от 10 до 20 лева;
            <br> Нормално - между 20 и 50 лева;
            <br> Скъпо - от 50 до 100 лева;
            <br> Много скъпо - над 100 лева;
        </li>
        <li>Снимката е заължително поле. Качва се само една снимка на мястото.</li>
        <li>Телефона за връзка с мястото е не задължителен</li>
    </ul>

    <h2 id="create-walk">Създаване на място за разходка</h2>
    <p>
        При създаване на място за разходка, се попълват общите за всички места полета описани по-горе. Освен тях се
        попъват и:
    </p>
    <ul class="content-uls">
        <li>Избира се вида на мястото за хапване. Има и опция други, ако вашето място не е в списъка.</li>
        <li>Избира се дали се допускат кучета. Има и опция забранено за кучета, защото в някои градове има паркове, в
            които
            не се допускат кучета. Опцията Позволено с условие е за места, на които кучето трябва да е на каишка или има
            друго условие за разхождането на кучета на мястото. Допълнителни пояснения можете да добавите в описанието.
        </li>
        <li>Трябва да отбележите, ако има такса за вход.</li>
        <li>Ако мястото има почивни дни ги напишете тук, ако няма оставете празно.</li>
        <li>Полето за Времетраене не е задължително. В него се отбелязва колко е приблизителната продължителност на
            разходката. Валиден запис е 1:20 или 0:20. Цифрите преди ":" са
            часовете, а след ":" са минутите.
        </li>
        <li>Полето за Разтоянието в километри не е задължително. Ако е приложимо, в него се посочва приблизителното
            разтояние, което се изминава на мястото в километри. Валиден запис е 2.30(а не 2,30). Цифрите преди "." са
            за
            километри, а след за метри
        </li>
        <li>Полето за Денивелация в метри не е задължително. Ако е приложимо, в него се посочва приблизителната
            денивелаця на мястото в метри. Валиден запис е 250.30(а не 250,30). Цифрите преди "." са за
            метри, а след за сантиметри
        </li>
        <li>Полето за Трудност е задължително. В него отбелязвате каква е трудността на мястото според вас. От
            Беспроблемно
            (слизм от колата и съм там) до Екстрмно(трябва ти отлична екипитовка за този преход)
        </li>
        <li>Снимката е заължително поле. Качва се само една снимка на мястото.</li>
        <li>Телефона за връзка с мястото е не задължителен</li>
    </ul>

    <h2 id="add-comment">Правила за коментиране</h2>
    <p>Коментарите са с цел споделяне на лични впечатления от мястото. При създаването на коментар не се използват
        обидни думи. Не се споделят политически или религиозни възгледи.
        Коментарите ще бъдат разглеждани периодично. При нарушение на добрия тон и правилата ще ви бъде отнето правото
        да коментирате. По преценка на персонала може да ви бъде отнето правото на достъп до сайта.</p>

    <h2 id="report">Правила за репортване</h2>
    <p>Опцията подаване на репорт е създадена с цел да се опреснява информацията за мястото от потребители, който са
        били по ското там. Не е нужно да се подава репорт, защото не сте съгласни с личното мнение на създателя на
        мястото. За тази цел можете да използвавте коментарите.</p>

    <h2 id="edit">Свържете се с нас</h2>
    <p class="contact-us-p">
        <a href="#rules">Общи условия и правила за ползване на сайта</a>
        и имате въпроси, критики и препоръки моля пишете ни от
        <a href="{% url 'contact us' %}">Тук</a>
    </p>
{% endblock %}