{% extends 'base/base.html' %}
{% load static %}
{% block title %}Пишете ни{% endblock %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static '/style/forms-style.css' %}">
    <link rel="stylesheet" href="{% static '/style/bluebuttons-style.css' %}">
{% endblock %}
{% block page_content %}
    <p style="text-align:center">Моля пишете ни за всякакви похвали, препоръки, критики и всичко, което сметнете, че ще
        подобри работата на сайта.</p>
    <div class="form-content">
        <h2>Пишете ни</h2>
        <form novalidate method="post" action="{% url 'contact us' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% if not user.is_authenticated %}
                <div class="user-box">
                    {% if form.email.errors %}
                        {{ form.email.errors }}
                    {% endif %}
                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    {{ form.email }}
                </div>
            {% else %}
                <div class="user-box">
                    {% if form.email.errors %}
                        {{ form.email.errors }}
                    {% endif %}
                </div>
            {% endif %}
            <div class="user-box">
                {% if form.description.errors %}
                    {{ form.description.errors }}
                {% endif %}
                {{ form.description }}
                <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
            </div>
            <button class="bluebutton" type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Изпрати
            </button>
        </form>
    </div>
{% endblock %}